.productListing{
    padding: 40px 0;
}
.sortDropDown{
    min-width: 100px !important;
}
.paginationListWrap{

}
.pagination{
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
}
.pagination.active{
    background: darkturquoise;
}
.sortnfilter{
    display: flex;
    align-items: center;
}
.filterButton{
    background: none;
    border: 1px solid #ccc;
    margin-left: 40px;
    cursor: pointer;
}
.fadeInPopper{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: white;
    padding: 25px;
}
.filterCloseBtn{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}
.modalHeader{
    margin: 0;
}
.filterListWrap{
    width: 200px;
}
.filterListItem{
    padding: 15px;
    margin: 10px 0;
    cursor: pointer;
}
.filterListItem.activeFilter{
    background-color: #ccc;
}