.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header{
  /* background-color: darkblue; */
  padding: 25px 0;
  box-shadow: 2px 10px 10px #ccc;
}
.healthHeader{
  margin: 0;
}
.loaderWrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}
.loadingCircle{
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%,-50%); */
}
.container{
  padding: 0 4rem;
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media(max-width: 767px){
  .container{
    padding: 0 1rem;
  }
}